* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1194px;
  margin: auto;
}

/* header */
.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.search-form {
  position: relative;
  display: flex;
  margin-left: 76px;
  max-width: 620px;
  flex-grow: 1;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
}
.search-input {
  padding: 13px 50px 13px 20px;
  width: 100%;
  background-color: transparent;
  border: none;
}
.search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-left: 18px;
  padding-right: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.auth {
  margin-left: auto;
}
.login {
  display: block;
  padding: 16px 30px;
  background: #ebebeb;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.shopping-cart {
  position: relative;
  margin-left: 30px;
  width: 49px;
  height: 49px;
  background: #f66a15;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.shopping-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  padding: 5px;
  background: #ffaf19;
  border-radius: 50%;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
}

/* slider */
.swiper {
  position: relative;
}
.slide {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 400px;
  padding: 100px;
  border-radius: 20px;
  overflow: hidden;
}
.slide-text-light {
  background-color: grey;
  color: #fff;
}
.slide-content {
  position: relative;
  max-width: 400px;
}
.slider-buttons {
  position: absolute;
  right: 46px;
  bottom: 40px;
  z-index: 9;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.slider-button {
  cursor: pointer;
}
.slide-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 50px;
  font-weight: bold;
  line-height: 51px;
}
.slide-text {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
}
.button {
  display: inline-block;
  padding: 12px 50px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}
.button-primary {
  background: #f47322;
  color: #fff;
  font-size: 14px;
}
.button-default {
  background-color: #fff;
  color: #5f5f61;
}
.slide-summer {
  background-image: url('../img/slider/summer.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-autumn {
  background-image: url('../img/slider/autumn.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-vitamins {
  background-image: url('../img/slider/vitamins.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.43) 40.45%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* promo */
.promo {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  margin: -20px;
}
.card {
  flex: 50%;
  margin: 20px;
  position: relative;
  padding: 32px;
  max-width: 570px;
  min-height: 380px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.card-text-light {
  color: #fff;
}
.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.card-title {
  margin-top: 4px;
  margin-bottom: 21px;
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
}
.card-description {
  max-width: 200px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}
.card-price {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
}
.card-delivery {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 25px;
}

/* delivery-week*/
.delivery-week {
  padding: 50px 0 100px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 500;
  line-height: 23px;
}
.delivery-cards {
  display: flex;
  flex-flow: row wrap;
  margin: -15px;
}
.delivery-card {
  position: relative;
  width: 275px;
  height: 182px;
  margin: 15px;
  border-radius: 18px;
  overflow: hidden;
}
.delivery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.delivery-tag {
  position: absolute;
  left: 10px;
  top: 16px;
  border-radius: 30px;
  color: #49494f;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  padding: 5px 10px;
}
.tag-health {
  background-color: #d0fd89;
}
.tag-vegetable {
  background-color: #aebc41;
  color: #fff;
}
.tag-meat {
  background-color: #b86b78;
  color: #fff;
}
.tag-bird {
  background-color: #d68334;
  color: #fff;
}
.tag-fish {
  background-color: #cd6255;
  color: #fff;
}
.tag-baby {
  background-color: #fffdbf;
}
.tag-parents {
  background-color: #f6fdc8;
}
.tag-festive {
  background-color: #fef7fe;
}

/* section-grey*/
.section-grey {
  background-color: #f6f6f6;
}
.category {
  padding-top: 40px;
  padding-bottom: 60px;
}
.tabs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 62px;
  list-style-type: none;
}
.tabs-link {
  margin-right: 58px;
  color: #49494f;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
}
.tabs-link.active {
  color: #f37321;
}
.tabs-content {
  display: flex;
  justify-content: space-between;
  margin: -18px;
}
.tabs-card {
  flex: 25%;
  margin: 18px;
  max-width: 270px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}
.tabs-image {
  max-width: 100%;
}
.tabs-card-content {
  padding: 23px;
}
.tabs-title {
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
}
.tabs-descrioption {
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  color: #b9b9be;
}
.tabs-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabs-price {
  display: block;
  margin-bottom: 5px;
  font-size: 23px;
  font-weight: 500;
  line-height: 23px;
  color: #4b4b51;
}
.tabs-weight {
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  color: #aaaab1;
}
.button-outline {
  cursor: pointer;
  padding: 15px 25px;
  background-color: transparent;
  border: 2px solid #f37321;
  border-radius: 33px;
  color: #f37321;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.button-center {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
}

/* benefits*/
.benefits {
  padding-top: 100px;
  padding-bottom: 200px;
}
.benefits-cards {
  display: flex;
  justify-content: space-between;
  margin: -18px;
}
.benefits-card {
  flex: 25%;
  margin: 18px;
  padding: 30px 23px 25px;
  max-width: 270px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}
.benefits-card-image {
  display: block;
  max-width: 60px;
  margin: 0 auto 35px;
}
.benefits-card-title {
  margin: 0 15px 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
.benefits-card-description {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494f;
}

/* footer*/
.footer {
  padding: 40px 0;
  background-color: #f6f6f6;
}
.footer-wrapper {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 50px;
}
.footer-link {
  margin-right: 50px;
  color: #000000;
  font-size: 16px;
  line-height: 23px;
}
.social-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.social-link {
  margin-left: 20px;
  text-decoration: none;
}

@media (max-width: 1260px) {
  .container {
    max-width: 960px;
  }
  .search-form {
    margin-left: 40px;
    margin-right: 40px;
  }
  .tabs-content {
    flex-wrap: wrap;
  }
  .tabs-card {
    flex: 50%;
    max-width: calc(50% - 36px);
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .slide {
    padding: 70px;
  }
  .delivery-card {
    width: calc(50% - 30px);
    height: 200px;
  }
  .footer-logo {
    margin-right: 40px;
  }
  .benefits-cards {
    flex-wrap: wrap;
  }
  .benefits-card {
    flex: 50%;
    max-width: calc(50% - 36px);
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .header {
    flex-wrap: wrap;
  }
  .search-form {
    order: 5;
    margin: 15px 0;
  }
  .slide {
    padding: 15px 80px 50px 30px;
    min-height: 350px;
  }
  .promo {
    flex-wrap: wrap;
  }
  .delivery-card {
    height: 180px;
  }
  .benefits {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-wrapper {
    flex-wrap: wrap;
  }
  .footer-nav {
    order: -1;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .slide {
    padding: 15px 80px 50px 20px;
    min-height: 300px;
  }
  .slide-title {
    font-size: 30px;
    line-height: 30px;
  }
  .slider-buttons {
    right: 20px;
    bottom: 20px;
  }
  .card {
    min-height: auto;
  }
  .tabs {
    justify-content: space-between;
  }
  .tabs-link {
    margin-right: 10px;
  }
  .tabs-card {
    max-width: 100%;
  }
  .delivery-week {
    padding: 20px 0 50px;
  }
  .delivery-week .section-title {
    line-height: 30px;
  }
  .delivery-card {
    width: 100%;
    height: 250px;
  }
  .benefits-card {
    max-width: 100%;
  }
  .footer-logo {
    margin-right: 20px;
  }
}
